body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background: radial-gradient(
    ellipse at center,
    #0c2d71 0%,
    #1c6ea4 61%,
    #1d2234 100%
  );
}
#container {
  width:auto;
  height: auto;
  outline: 45px solid rgba(0, 0, 0, 0.493);
  background: #1d2234;
  display: flex;
  justify-content: center;
  align-items: center;
}
#projeto {
  width: auto;
  height: auto;
}
iframe {
  width: 1440px;
  height: 890px;
}
@media only screen and (max-width: 1180px) {
  iframe {
    width: 600px;
    height: auto;
  }
}
@media only screen and (max-width: 1439px) {
  iframe {
    width: 800px;
    height: 600px;
  }
  @media only screen and (max-width: 667px) {
    iframe {
      width: 350px;
      height: auto;
    }
}
}

